* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

:root {
    --white-color: #fcfcfc;
    --gray-color: #293241;
    --yellow-color: #FDBA18;
}