* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    width: 100%;
}

li, a {
    text-decoration: none;
    list-style: none;

    color: #fff;
    cursor: pointer;
}

:root {
    --blue-color: #0074D9;
    --gray-color: #c0c0c0;
    --red-color: #FF4136;
}